@import "_reset"
@import "_variables"

*
  font-family: 'Open Sans',sans-serif

body 
  transition: transform .5s

.content
  max-width: 64.375rem
  margin: 0 auto

.small
  width: 35px

@import "_partial/header"
@import "_partial/menu"
@import "_partial/article-full"
@import "_partial/post-box"
@import "_partial/category-page"
@import "_partial/tags-page"
@import "_partial/footer"
