.tags-list-item
  display: inline-block
  padding: 0.3em 1.5em
  border: solid 1px #ccc
  background-color: #354b72
  border-radius: 10px
  margin: 0.5em
  color: #fff

.tags-list
  text-align: center
  padding: 1em
  margin-bottom: 5em

