<!-- Footer -->
    <footer id="footer">
      <ul class="copyright">
        <li>Feito com ❤</li>
      </ul>
    </footer>  
    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
    <script src="/assets/js/masonry.pkgd.min.js"></script>
    <script src="/assets/js/imagesloaded.js"></script>
    <script src="/assets/js/classie.js"></script>
    <script src="/assets/js/AnimOnScroll.js"></script>
    {% if page.menutitle == "Home" %}
    <script>
      new AnimOnScroll( document.getElementById( 'cards' ), {
        minDuration : 0.4,
        maxDuration : 0.7,
        viewportFactor : 0.2
      } );
    </script>
    {% endif %}
    <script>
      if ('addEventListener' in window) {
        window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
        document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
      }


      var menu = document.getElementById("sectionMenu");
      var menuy = menu.offsetTop;
      window.addEventListener("scroll", function(){
        var loadmenu = document.getElementById("loadmenu");
        var loady = loadmenu.scrollTop;
        if (menu.className != "menu stickmenu") {
          if (loady > menuy) {
            menu.className += ' stickmenu';
            document.getElementById("content").style.margin = "80px 0 0 0";
          } 
        }
        else if (loady < menuy) {
          menu.classList.remove("stickmenu");
          document.getElementById("content").style.margin = "0";
        }
      });

      function openMenu() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("bgOpacity").style.width = "100vw";
      }

      function closeMenu () {
        document.getElementById("mySidenav").style.width = "0px";
        document.getElementById("bgOpacity").style.width = "0vw";
      }
      function scrollHome () {
        window.scrollTo(document.getElementById("navmenu").offsetTop, 0);
      }
    </script>


  </body>
  </html>