<div class="blog-post">
  <!-- Content -->
  <%- item.content %>
  <!-- https://www.facebook.com/sharer/sharer.php?u=https://giovannibernini.com.br -->
  <!-- Comments -->
  <%- partial('comments') %>
</div>
