<div class="header">
  <div class="header-content">
    <div class="avatar">
      <img width="150px" src="/img/eu.png" alt="caricatura do autor do blog">
    </div>

    <h1 class="title">Giovanni Bernini</h1>
    <p class="description">Front-End Developer</p>

    <div class="social-box">
      <a class="icon" href="/atom.xml"><img src="/img/rss.svg" alt="rss icon"></a>
      <a class="icon" href="https://github.com/giioohbernini"><img src="/img/github.svg" alt="github icon"></a>
      <a class="icon" href="https://twitter.com/giioohbernini"><img src="/img/twitter.svg" alt="twitter icon"></a>
    </div>
  </div>
</div>
