<div class="blog-post">
  <h1 class="pageTitle">Selecione a tag desejada para filtrar os posts</h1>
  <% if(site.tags && site.tags.length) {%>
    <%- list_tags(site.tags, {
      show_count: false,
      style: 'list',
      class: 'tags'
    }) %>
  <%} else {%>
    <h1>Without Tags</h1>
  <% } %>
</div>
